* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

html[data-theme="dark"] {
    --background: #000000;
    --bg-button: #21EB00;
    --bg-input: #191A18;
    --color-text: #a3a3a3;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.contador-falta {
    height: 100vh;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

#secundario {
    display: none;
}

.faltam {
    font-size: 5rem;
    color: var(--bg-input);
    margin-bottom: 2rem;
}

h1 {
    color: var(--bg-button);
    font-size: 3rem;
    margin-bottom: 24px;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 12px;
}

#date {
    background-color: var(--bg-input);
    height: 3rem;
    border-radius: 16px;
    border: none;
    outline: none;
    color: var(--color-text);
    margin-bottom: 20px;
}

.btn {
    background-color: var(--bg-button);
    color: var(--background);
    font-weight: bold;
    height: 3rem;
    border-radius: 16px;
    border: none;
    min-width: 200px;
    font-size: 1.5rem;
}

.counter {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.counter-container {
    display: flex;
    min-width: 768px;
    justify-content: space-around;
}

.counter span {
    color: white;
    font-size: 6rem;
    font-weight: bold;
}

.counter p {
    color: var(--bg-button);
    font-size: 1.5rem;
}

@media(max-width:760px) {
    .header {
        flex-direction: column;
        justify-content: space-around;
    }
    .counter-container {
        flex-direction: column;
        justify-content: center;
        min-width: 300px;
    }
    .counter-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}